.customModuleSize{
    width: 1500px;
}

.moduleTextHeader{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: bolder;
}

.moduleText{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: bold;
}

.addEmissionButton{
    position: absolute;
    left: 15px;
}