@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.mapContainer{
    width: 99.9vw;
    height: 94vh;
}

.textInfo{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.changeModeButton{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 75px;
    position: fixed;
    bottom: 25px;
    right: 60px;
}