*,
*::after,
*::before{
    border-sizing: border-box;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#nav-dropdown{
    color: #0d6efd;
}